
::ng-deep #reportLoadO1Table .table thead tr td { padding: 0.25rem 0 !important; text-align: center; }
::ng-deep #reportLoadO3Table .table thead tr td { padding: 0.25rem 0 !important; text-align: right; }
::ng-deep .table tr th { font-size: 0.85rem; }
::ng-deep .table tr td { font-size: 0.85rem; }
